<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="viu-local" value="C:\Source\repos\assimalign\viu\_out\packages" />
    <add key="viu-platforms-local" value="C:\Source\repos\assimalign\viu-platforms\_out\packages" />
    <add key="cohesion-local" value="C:\Source\repos\assimalign\cohesion\_out\packages" />
    <add key="assimalign" value="https://nuget.pkg.github.com/assimalign/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="viu-local">
      <package pattern="Assimalign.Viu.*" />
    </packageSource>
    <packageSource key="viu-platforms-local">
      <package pattern="Assimalign.Cohesion.Viu.*" />
    </packageSource>
    <packageSource key="cohesion-local">
      <package pattern="Assimalign.Cohesion.*" />
    </packageSource>
    <packageSource key="assimalign">
      <package pattern="Assimalign.Cohesion.Core" />
      <package pattern="Assimalign.Cohesion.DependencyInjection" />
      <package pattern="Assimalign.Cohesion.Hosting" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
