<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="viu-local" value="C:\Source\repos\assimalign\viu\_out\packages" />
    <add key="viu-platforms-local" value="C:\Source\repos\assimalign\viu-platforms\_out\packages" />
    <add key="cohesion-local" value="C:\Source\repos\assimalign\cohesion\_out\packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
